<div class="container">
<div class="card">   
    <div class="card-body">
      <h2 class="card-title ">Porfolio</h2>
      <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
   
    </div>
</div>

<div class="card-group g-3">
    <div class="card">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscesque uring elit. Nam viverra euismod odio, gravida pellentna varius vitae.</p>
     
      </div>
    </div>
    <div class="card">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscesque uring elit. Nam viverra euismod odio, gravida pellentna varius vitae.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscesque uring elit. Nam viverra euismod odio, gravida pellentna varius vitae.</p>
        
      </div>
    </div>
  </div>
</div>